
.toggleDropdown {
  animation: dropdownVisible 0.3s ease-in-out 1 forwards;
  padding-top: 15px;
}

.mobileDropbox{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social_media {
 position: fixed;
 bottom: 2rem;
 left:50%;
 right: auto;
 transform: translate(-50%);
 display: inline-flex;
 gap: 0.5rem;
 border-top: 1px solid var(--border-color);
 padding-top: 1rem;
 width: 16ch;
 justify-content: center;
 z-index: 2;
} 
 
/* Define a keyframes animation for sliding in */
@keyframes dropdownVisible {
  from {
      opacity: 0;
      transform: translateY(10%);
  }
  to {
      opacity: 1;
  }
}


