

.logo_center {
    margin-right: auto;  
    margin-left: auto;  
}

.logo_center:hover{
  opacity: 0.9;
  cursor: pointer;
}


nav > div:not(.dropdownContent) {
   width: 175px;
   text-align: center;
}


.dropdownContent {
    position: fixed;
    padding: 0.5rem;
    width: fit-content;
    display: none;
    flex-direction: row;
    gap: 3em;
    transition:all 0.3s ease-in-out; 
}

.showDropdown {
  display: flex;
  padding: 0 2.625rem;
  align-items: center;
  animation: dropdownSlideIn 0.3s ease-in-out 1 forwards;
  height: 70px;
  background-color: white;
  max-width: 50%;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(233, 233, 233, 0.5);
  -moz-box-shadow: 0px 5px 10px 1px rgb(185, 185, 185);
  box-shadow: 0px 5px 10px 1px rgba(233, 233, 233, 0.5);
  z-index: 2;
}

.nav {
    padding: 0.5rem 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center; 
   
  }

.aLinks {
    font-size: medium;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.25s;
  }

.aLinks:hover {
    color: var(--accent-color);
}

.header {
    width: 100%;
    max-width: 1100px;
    padding-top: 0.5rem;
    align-self: center;
    /*top: 0;
    left: 0;
    right: 0;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
    transition: max-height 0.3s ease-in-out; */
  }

  
  /* .scrolled{
      max-height: 100px;
      transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
      transition: max-height 0.3s ease-in-out;
  }  */



.menu {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  gap: 0.5rem;
  align-items: center;
  height: 35px;
  width: 35px;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  transition: color 0.2s ease-in-out;
  z-index: 100;
}


.menu:hover {
  color:  var(--accent-color);
}

.menu>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_logo {
  display: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.div_img {
  display: none;
  gap:0.5rem;
}


.img-logo:hover {
  opacity: 0.8;
  border: 1px var(--accent-color) solid;
}

.aside {
  width: 100vw;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


  /* Define a keyframes animation for sliding in */
@keyframes dropdownSlideIn {
  from {
      opacity: 0;
      top:0;
      
  }
  to {
      opacity: 1;
      top: 4.5rem;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.mobile_nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  left: 50%;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out; 
  opacity: 0;
  z-index: 2;
}

.mobile_nav.active,
.overlay.active
 {
  opacity: 1;
} 
.overlay.active
 {
  display: block;
} 


.author {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  align-self: flex-end;
}

.author::first-letter {
  font-size: large;
  color: var(--accent-color);
}

@media (max-width: 1085px) {


nav > div:not(.dropdownContent) {
    width: 100%;
 }


.img_logo {
  display: block;
}

.div_img {
  display: flex;
}

.menu{
  display: inline-flex;

} 

.nav{
    display: none;
  }
.aLinks {
  font-size: 20px;
}

}