.wrapper {
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
	gap: 1rem;
}

.wrapper > h2 {
	width: 100%;
	text-align: center;
}

.content_about {
	
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 55ch;
	padding: 1rem;
	gap: 1rem;
	word-break:break-all;
}

.content_about h2{
	font-weight: 300;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	font-style: italic;
}
.content_about > a {
    align-self: center;
    border-bottom: 1px solid black;
    cursor: pointer;
	/* font-family: 'Cormorant Garamond', serif; */
	font-size: large;
	padding-bottom: 0.125rem;
	margin-top: 1rem;
	transition: color 0.25s linear, border-color 0.2s linear;
}

.content_about > a:hover {
	color: orange;
	border-color: orange;
}

.image {
	background-color: var(--bg-blur);
	padding: 1rem;
	border-radius: 0.3rem;
}

.image>img {
	border-radius: 0.25rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
}