.container_header {
    width: 100%;
    display:flex;
    justify-content: center;
}

.container_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.container_grid div {
  display: flex;
  width: 100%;
  height: 400px;
}

.container_grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-self: flex-start;
}

 @media (max-width: 1085px){
    .container_grid {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); 
    }
  }
  @media (max-width: 640px){
    .container_grid {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    }
  }