
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');




:root {
  
  --bg-link_hover: rgb(235, 235, 235);
  --border-color: #ced4da;
  --border-color_form: #dddddd;
  --bg-blur: rgba(235, 235, 235, 0.7);
  --placeholder-color: #4d4d4d;

  --max-width: 1100px;
  --border-radius: 12px;
 

  --accent-color: #FF911E;

}


/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  gap: 1rem;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
}

h3 {
  font-weight: 400;
  font-size:larger;
}


p {
  font-weight: 300;
	font-size: 16px;
	color: #555555;
    letter-spacing: 1px;
	line-height: 145%;
	font-family: 'Cormorant Garamond', serif;
}


a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease-in-out,
}

main {
  align-self: center;
  width: 100%;
}

header a:hover:not(:has(>span)){
  color: var(--accent-color);
}


input {
   font-weight: 300;
}
  select,
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    outline: 0;
    border: 0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
  }
  
  input[type="submit"] {
    width: 100%;
    border: 0;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    background-color:transparent;
    border: 1px solid var(--border-color_form);
    color: inherit;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 0.75rem;
  }
  
  /* [type="submit"]:hover, */
  input[type="submit"]:hover {
    background-color: var(--bg-btn_hover);
    color: black;
  }
  
  
  /*Bootstrap class button.btn.btn-primary*/
  input[type="submit"]:focus {
    outline: none;
    box-shadow: var(--border-focus_style);
  }
  
  input[type="password"]:focus,
  input[type="text"]:focus {
    outline: none;
    border-color: var(--border-focus_color);
    box-shadow: var(--border-focus_style);
  }





@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


